.DS_Store
Thumbs.db
db.json
*.log
node_modules/
public/
.deploy*/
.idea/
*.iml
.idea*.zip
themes/landscape/
themes/yilia/languages/
themes/yilia/layout/_partial/after-footer.ejs
themes/yilia/layout/_partial/archive-post.ejs
themes/yilia/layout/_partial/archive.ejs
themes/yilia/layout/_partial/aside.ejs
themes/yilia/layout/_partial/[bcghlmstv]*.ejs
themes/yilia/layout/_partial/post/[cdgntw]*.ejs
themes/yilia/layout/[acilpt]*.ejs
themes/yilia/[.rpsw]*
package-lock.json